<main class="main">
  <div class="hero-container">
    <div class="hero-list">
      <div class="hero hero--left-center">
        <div class="hero-copy-layer" style="color: #ffffff">
          <div class="container h-100">
            <div class="hero-copy-wrapper">
              
              <div class="hero-copy-inner-wrapper">
                <img src="img/slick.jpg" alt="promotion event">
                <!--在這裡-->
                <div class="next-line">               
                  <h1 class="hero-copy-title"><%= @data2[0][1] %></h1>
                </div>
                 <!--在這裡-->
                 <div></div>
                 <div></div>
                  <div></div>
                 <div></div>
                  <div></div>
                 <div></div>
                <div class="hero-copy-description"></div>
                
                <!--在這裡-->
                  <a class="hero-action-link promotion-btn promotion-primary-btn" href="https://promotion.gogoro.com/tw/gogoro-2-far-eastone/"><%= @data2[0][2] %></a>
                <!--在這裡-->

              </div>
            </div>
          </div>
        </div>
        <div class="hero-background-layer" style="background: #000000;">
          <div class="hero-background hero-background--large" style="background-image: url(/uploads/heroes/3-large-image-ba79916e9a30f9cdb3ee17f3816037183aeb4d2d.jpg?1517814236)"></div>
          <div class="hero-background hero-background--small" style="background-image: url(/uploads/heroes/3-small-image-1cb33a191a0c5005dde6be6f2d9ad30998e4e05a.jpg?1517814237)"></div>
        </div>
      </div>
    </div>
  </div>

  <nav class="gc-nav-against">
    <input type="checkbox" class="navigation-toggle" id="navigation-toggle">
    <div class="navigation-bar">
      <label class="navigation-toggle-close" for="navigation-toggle"></label>
      <div class="container navigation-container">
        <ul class="navigation-list">

          <!--在這裡-->
            <% @data3.each do |data| %>
              <li class="navigation-item navigation-item--active">
                <label class="navigation-toggle-trigger" for="navigation-toggle">
                  <a class="navigation-link" href="/tw/">
                    <span class="navigation-link-text"><%= data[0] %></span>
                  </a>
                </label>
              </li>
            <% end %>
          <!--在這裡-->

          <!--<li class="navigation-modal-bg"></li>-->
        </ul>
      </div>
    </div>
    <div class="navigation-placeholder"></div>
  </nav>

  <div class="container">
    <div class="promotion-list">

      <!--在這裡--> 
          <% i = 1 %>
          <% @data4.each do |data| %>
            <a class="promotion-item-link row" href="/tw/gogoro-2-far-eastone">
              <div class="col-lg-6 col-xl-5 col-md-6 promotion-item-cover-photo-column">
                <div class="promotion-item-cover-photo" style="background-image: url(/uploads/promotions/11-cover-photo-62f3a13e91b84c3f51324584d6efccf5c0d5a550.png?1518155967)"></div>
              </div>
              <div class="col-lg-6 col-xl-7 col-md-6 promotion-item-content-column">
                <div class="promotion-item-content">
                  <div>
                    <%= image_tag("/img/" + i.to_s + ".png") %>
                    <div class="promotion-text">
                      <h2 class="promotion-item-name"><%= data[0] %></h2>
                      <div class="promotion-item-description"><div><%= data[1] %></div></div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <% i = i + 1 %>
          <% end %>
        <!--在這裡-->

      <div class="text-center">

        <!--在這裡-->
          <a class="promotion-btn promotion-primary-btn" href="http://promotion.gogoro.com/tw/archive"><%= @data5[0][0] %></a>
        <!--在這裡-->

      </div>
    </div>
  </div>
</main>
 
 <%= @data2[0][1] %>