<!-- Google Tag Manager -->
      <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NCBSL8"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NCBSL8');</script>
      <!-- End Google Tag Manager -->

      <ggr-nav lang="tc" theme="light" :scrolling-opacity="false" :url-prefix="true"></ggr-nav>
<main class="main">
  <div class="hero-container">
    <div class="hero-list">
      <div class="hero hero--left-center">
        <div class="hero-copy-layer" style="color: #ffffff">
          <div class="container h-100">
            <div class="hero-copy-wrapper">
              
              <div class="hero-copy-inner-wrapper">
                
                <promotion-img id=1></promotion-img>
                <!--在這裡-->
                <div class="next-line">               
                  <h1 class="hero-copy-title"><promotion-text id=1></promotion-text></h1>
                </div>
                 <!--在這裡-->
                 <div></div>
                 <div></div>
                  <div></div>
                 <div></div>
                  <div></div>
                 <div></div>
                <div class="hero-copy-description"></div>
                <ip id= ></ip>
                <!--在這裡-->
                  <a class="hero-action-link promotion-btn promotion-primary-btn" href="https://promotion.gogoro.com/tw/gogoro-2-far-eastone/"><btn-text id=1></btn-text></a>
                <!--在這裡-->

              </div>
            </div>
          </div>
        </div>
        <div class="hero-background-layer" style="background: #000000;">
          <div class="hero-background hero-background--large" style="background-image: url(/uploads/heroes/3-large-image-ba79916e9a30f9cdb3ee17f3816037183aeb4d2d.jpg?1517814236)"></div>
          <div class="hero-background hero-background--small" style="background-image: url(/uploads/heroes/3-small-image-1cb33a191a0c5005dde6be6f2d9ad30998e4e05a.jpg?1517814237)"></div>
        </div>
      </div>
    </div>
  </div>

  <nav class="gc-nav-against">
    <input type="checkbox" class="navigation-toggle" id="navigation-toggle">
    <div class="navigation-bar">
      <label class="navigation-toggle-close" for="navigation-toggle"></label>
      <div class="container navigation-container">
        <ul class="navigation-list">

          <!--在這裡-->
            <% @data3.each do |data| %>
              <li class="navigation-item navigation-item--active">
                <label class="navigation-toggle-trigger" for="navigation-toggle">
                  <a class="navigation-link" href="/tw/">
                    <span class="navigation-link-text"><%= data[0] %></span>
                  </a>
                </label>
              </li>
            <% end %>
          <!--在這裡-->

          <!--<li class="navigation-modal-bg"></li>-->
        </ul>
      </div>
    </div>
    <div class="navigation-placeholder"></div>
  </nav>

  <div class="container">
    <div class="promotion-list">

      <!--在這裡--> 
          <% i = 1 %>
          <% @data4.each do |data| %>
            <a class="promotion-item-link row" href="/tw/gogoro-2-far-eastone">
              <div class="col-lg-6 col-xl-5 col-md-6 promotion-item-cover-photo-column">
                <div class="promotion-item-cover-photo" style="background-image: url(/uploads/promotions/11-cover-photo-62f3a13e91b84c3f51324584d6efccf5c0d5a550.png?1518155967)"></div>
              </div>
              <div class="col-lg-6 col-xl-7 col-md-6 promotion-item-content-column">
                <div class="promotion-item-content">
                  <div>
                    <%= image_tag("/img/" + i.to_s + ".png") %>
                    <div class="promotion-text">
                      <h2 class="promotion-item-name"><%= data[0] %></h2>
                      <div class="promotion-item-description"><div><%= data[1] %></div></div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <% i = i + 1 %>
          <% end %>
        <!--在這裡--><abc id=1></abc>

      <div class="text-center">

        <!--在這裡-->
          <a class="promotion-btn promotion-primary-btn" href="http://promotion.gogoro.com/tw/archive"><%= @data5[0][0] %></a>
        <!--在這裡-->

      </div>
    </div>
  </div>
</main>

 <ggr-directory lang="tc" :subscribe-form="true" :url-prefix="true"></ggr-directory>
      <ggr-footer lang="tc" :url-prefix="true"></ggr-footer>

      <script src="https://cdn.gogoro.com/libs/ggr-components/latest/ggr-components.min.js"></script>
      <script src="/assets/frontend/main-d224ffd7b753bf4ee95c1f525ac5d78f0c18e098386a2f812fc92d6a3a1257c0.js"></script>
      <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
      
    <script>
      new HeroCarousel($('.hero-list'))
    </script>

<script type="text/javascript"> var CLIENT_ID = '673381173216-1cg3p0mqapitdm647sqtn8umspgnncln'; var API_KEY = 'AIzaSyBejq9v2EcnUSjL5aR5CJ2jpOn_NL3oHoA'; var DISCOVERY_DOCS = ["https://sheets.googleapis.com/$discovery/rest?version=v4"]; var SCOPES = "https://www.googleapis.com/auth/spreadsheets.readonly"; function handleClientLoad() { gapi.load('client:auth2', initClient); } function initClient() { gapi.client.init({ apiKey: API_KEY, clientId: CLIENT_ID, discoveryDocs: DISCOVERY_DOCS, scope: SCOPES }).then(function () { putItIn(

'1m4xuNtoujwTySp3sXS2iZ0gsSk8m9d86S_NtReXHi7o',["promotion!B:B", "promotion!C:C", "promotion!A:A"],["promotion-text", "btn-text", "promotion-img"], ["1", "1", "2"]

); }); } function putItIn(spreadsheet_id, ranges, tag_name, category) { gapi.client.sheets.spreadsheets.values.batchGet({ spreadsheetId: spreadsheet_id, ranges: ranges, }).then(function(response) { var result = response.result; if (result.valueRanges.length > 0) { for (i = 0; i < result.valueRanges.length; i++) { for (j = 0; j < result.valueRanges[i].values.length; j++) { var row = result.valueRanges[i].values[j]; var tags = document.getElementsByTagName(tag_name[i]); var col_or_row = ranges[i].split(":"); for (k = 0; k < row.length; k++) { var tag_id; Number(col_or_row[1]) ? tag_id = k : tag_id = j; if ( category[i] == "1" ) { l = 0; while(l < tags.length){ if(tags[l].id == tag_id){ tags[l].innerHTML = row[k]; } l++; } } else if ( category[i] == "2") { l = 0; while(l < tags.length){ if(tags[l].id == tag_id){ var img = document.createElement("img"); tags[l].appendChild(img); tags[l].childNodes[0].src = row[k]; } l++; } } else { l = 0; while(l < tags.length){ if(tags[l].id == tag_id){ var iframe = document.createElement("iframe"); tags[l].appendChild(iframe); tags[l].childNodes[0].src = row[k]; } l++; } } } } } } else { document.getElementsByTagName(tag_name[i])[0].innerHTML = 'No data found.'; } }, function(response) { var textnode = document.createTextNode('Error: ' + response.result.error.message); document.getElementsByTagName(tag_name[i])[0].parentNode.appendChild(textnode); }); } </script> <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()"> </script>