<div class="all-tabs">
  <h1>TABS</h1>
  <% @tabs.each do |tab| %>
    <%= form_for @spreadsheet do |f| %>
      <div class="form-group">
        <%= f.text_field :tab_name, value: tab.properties.title  %>
        <%= f.text_field :tab_id, value: tab.properties.sheet_id %>
        <%= f.submit %>
      </div>
      <button type="submit" form="form1" value="Submit" class="choice" action= "<% spreadsheet_path(@spreadsheet )%>" method= "put">
        <p><%= tab.properties.title %></p>
          <div class="tab">
            <iframe  src=<%="https://docs.google.com/spreadsheets/d/#{@spreadsheet.spreadsheet_name}/edit#gid=#{tab.properties.sheet_id}"%> ></iframe>
          </div>
      </button>
 
    <% end %>
  <% end %>
</div>
 
 

