<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cms</title>
    <meta name="description" content="Gogoro 智慧雙輪購車優惠最新資訊！">
    <meta name="google-site-verification" content="sKxuWAkitwdgBRs9t3aDqL_gulJD80AW4st4Y1uVGfE" />

    <meta property="og:type" content="website">
    <meta property="og:title" content="Gogoro - 本月購車優惠總整理">
    <meta property="og:description" content="Gogoro 智慧雙輪購車優惠最新資訊！">
    <meta property="og:image" content="http://promotion.gogoro.com/images/og/creditcard-linkpost.png">
    <meta property="og:url" content="http://promotion.gogoro.com/tw">
    <link rel="canonical" href="http://promotion.gogoro.com/tw">

    <link rel="stylesheet" media="screen" href="/assets/frontend/main-08bb4c87ec09be0081734edeb37027a20fc1cfb37db0ec2897d198833ae192bd.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <nav class="navbar navbar-default cms">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            
            <a class="navbar-brand" href="/spreadsheets/new">CMS</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/spreadsheets/new">編輯模版</a></li>
                <li><a href="/spreadsheets/new">產出JS包</a></li>
              </ul>
            </div>
        </nav>
    <% end %>
    <div class="nav navbar-nav navbar-right user">
      <% if current_user %>
        <%= link_to 'Hi', class: "my-name" %>
        <%= link_to('登出', destroy_user_session_path, method: :delete) %> |
        <%= link_to('修改密碼', edit_user_registration_path) %>
      <% else %>
        <%= link_to('註冊', new_user_registration_path) %> |
        <%= link_to('登入', new_user_session_path) %>
      <% end %>
    </div>
    <% if notice %>
      <div class="alert remind fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><%= notice %></p>
      </div>
    <% elsif alert %>
      <div class="alert remind fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>

    <% if current_user %>
      
    <% end %>
  
  </body>
</html>
